.reveal-modal-bg{background-color:#000;filter:alpha(opacity=80); }
.TemplateSelect_in_bg{background-color:#000;filter:alpha(opacity=80); }
.info_con>div>a>span,.info_con>div>ul span{background: url(../images/ie_inform.png) no-repeat -2px -2px;}
.info_arr{margin:0 0;}
.Customer_box .result LI,.Marketing_box1 .one LI{position: relative;}
.Customer_box .result SPAN,.Marketing_box1 .one SPAN{position: absolute;right: 10px;}














